<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <!-- ARRUMAR DE ACORDO COM O BANCO -->
        <property name="hibernate.connection.url">jdbc:sqlserver://CT-C-001YQ\SQLEXPRESS;databaseName=agenda;integratedSecurity=true;encrypt=true;trustServerCertificate=true</property>
        <property name="hibernate.connection.integratedSecurity">true</property>
        <property name="java.library.path">C:\Program Files\sqljdbc_12.\ptb\auth\x64\m6ssql-jdbc_auth-12.6.1.x64.dll</property>
        <!-- Arquivo que foi baixado -->
        <!-- JDBC connection pool settings -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        <!-- Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <!-- Enable Hibernate's automatic session context management -->
        <property name="hibernate.current_session_context_class">thread</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- toda vez que cria uma tabela, tem que criar uma nova classe -->
        <mapping class="com.agenda.model.UserData"/> 
        <mapping class="com.agenda.model.Event"/> 
    </session-factory>
</hibernate-configuration>